<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<!--

				Hey again!                                                     _ _
				I'm glad I have gained that much interest           |\__/|  .~    ~.
				that you want to take a look under the hood. :)     /  o `./      .'
				Of course this is just a tiny little page that     {o__,   \    {
				doesn't show off by technical capabilities.          / .  . )    \
				If you want to see some more interesting work        `-` '-' \    }  
				of me just drop me a mail:                          .(   _(   )_.'
				christian.baeuerlein@gmail.com                      '- -.~_ _ _|

 	-->
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="description" content="..." />
    	<meta name="keywords" content="chris,christian,bäuerlein,baeuerlein,bauerlein,portfolio,darmstadt,frankfurt,dieburg,germany,deutschland" />
    	<meta name="author" content="Christian Bäuerlein" />
    	<meta name="language" content="en" />
    	<meta name="robots" content="index, follow" />
	
		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="./css/master.css" />
	</head>
	<body>
		<div id="wrapper">
		{{ content }}
		</div>
	</body>
</html>