<!doctype html>
<!--
		 Hey again!                                                     _ _
		 I'm glad I have gained that much interest           |\__/|  .~    ~.
		 that you want to take a look under the hood. :)     /  o `./      .'
		 Of course this is just a tiny little page that     {o__,   \    {
		 doesn't show off my technical capabilities.          / .  . )    \
		 If you want to learn more about my work              `-` '-' \    }
		 just drop me a mail:                                .(   _(   )_.'
		 fabrik42@gmail.com                                  '- -.~_ _ _|
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="christian, baeuerlein, bäuerlein, bauerlein, fabrik42">
    <meta name="google-site-verification" content="{{site.webmaster_verification}}">
    <link rel="stylesheet" href="css/common.css">
  </head>
  <body>
    {{content}}


    <footer class="container">
      <div class="col">
        <a href="imprint">Imprint / Data Protection Policy</a>
        (German only)
      </div>
      <div class="col"></div>
    </footer>
  </body>
</html>
