<!doctype html>
<!--
		 Hey again!                                                     _ _
		 I'm glad I have gained that much interest           |\__/|  .~    ~.
		 that you want to take a look under the hood. :)     /  o `./      .'
		 Of course this is just a tiny little page that     {o__,   \    {
		 doesn't show off my technical capabilities.          / .  . )    \
		 If you want to learn more about my work              `-` '-' \    }
		 just drop me a mail:                                .(   _(   )_.'
		 fabrik42@gmail.com                                  '- -.~_ _ _|
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="christian, baeuerlein, bäuerlein, fabrik42">
    <link rel="stylesheet" href="css/common.css">
  </head>
  <body>
    {{content}}
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','{{site.ga_tracking_code}}','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
